@using PR108_2017_Web_projekat.Models.Konstruktori;
@model AddModelGrupniTrening
@{
    ViewBag.Title = "KreirajGrupniTrening";
}
<h2>Kreiraj grupni trening</h2>

<form action="~/GrupniTrening/KreirajGrupniTrening" method="post">
    <div class="form-horizontal">
        <hr />
        <div class="form-group">
            <label class="control-label col-md-2">Naziv</label>
            <div class="col-md-10">
                <input class="form-control" name="Ime" required value="@Model.Ime" />
                <p>@ViewBag.NameError</p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2">Datum i vreme treninga</label>
            <div class="col-md-10">
                <input class="form-control" type="datetime-local" name="DatumIVremeTreninga" required value="@Model.DatumIVremeTreninga" />
                <p>@ViewBag.DateError</p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2">Maksimalan broj posetilaca</label>
            <div class="col-md-10">
                <input class="form-control" name="MaksimalniBrojPosetilaca" min="0" max="100" type="number" required value="@Model.MaksimalniBrojPosetilaca" />
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2">Trajanje treninga u minutama</label>
            <div class="col-md-10">
                <input class="form-control" name="TrajanjeTreninga" min="0" max="300" type="number" required value="@Model.TrajanjeTreninga" />
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2">Tip treninga</label>
            <div class="col-md-10">
                <input type="radio" name="TipTreninga" value="YOGA" checked />
                <label>YOGA</label>
                <input type="radio" name="TipTreninga" value="LESMILLSTONE" />
                <label>LESMILLSTONE</label>
                <input type="radio" name="TipTreninga" value="BODYPUMP" />
                <label>BODYPUMP</label>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Kreiraj" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>