@using PR108_2017_Web_projekat.Models.Konstruktori;
@model IEnumerable<GrupniTrening>
@{
    ViewBag.Title = "ProsliTreninzi";
}
<h2>Prosli treninzi</h2>
<table>
    <table border="1" align="left">
        <form method="post" action="~/Profile/PretragaProslihTreninga">

            <tr>
                <td>Fitnes centar:</td>
                <td><input type="text" name="center"></td>
            </tr>
            <tr>
                <td>Naziv treninga: </td>
                <td><input type="text" name="name"></td>
            </tr>
            <tr>
                <td>Tip treninga:</td>
                <td>
                    <select name="TipTreninga">
                        <option value=" " selected hidden>Izaberi</option>
                        <option value="YOGA">Yoga</option>
                        <option value="LESMILLSTONE">Les mills tone</option>
                        <option value="BODYPUMP">Body pump</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td align="center" colspan="2"><input type="submit" value="Pretrazi"></td>
            </tr>
        </form>
    </table>

</table>

<br /><br /><br /><br /><br /><br />
<table>
    <form method="post" action="~/Profile/SortiranjeProslihTreninga">
        <table border="1" align="left">
            <tr>
                <td>Sortiraj po:</td>
                <td>
                    <select name="sortiranje">
                        <option value="ImeRastuce">Ime ></option>
                        <option value="ImeOpadajuce">Ime <</option>
                        <option value="AdresaRastuce">Adresa ></option>
                        <option value="AdresaOpadajuce">Adresa <</option>
                        <option value="GodinaRastuce">Godina ></option>
                        <option value="GodinaOpadajuce">Godina <</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td align="center" colspan="2"><input type="submit" value="Sortiraj" /></td>
            </tr>
            </table>
    </form>
</table>
<br/><br /><br />
<table class="ListTable" border="1">
    <tr>
        <th align="center">Naziv treninga</th>
        <th align="center">Fitnes centar</th>
        <th align="center">Tip treninga</th>
        <th align="center">Trajanje</th>
        <th align="center">Datum i vreme</th>
    </tr>
    @foreach (var temp in Model)
    {
        <tr>
            <td align="center">@temp.Naziv</td>
            <td align="center">@temp.FitnesCentarGdeSeOdrzavaTrening</td>
            <td align="center">@temp.TipTreninga</td>
            <td align="center">@temp.TrajanjeTreninga</td>
            <td align="center">@temp.DatumIVremeTreninga</td>
        </tr>
    }
</table>